@using TradeDash.Application.Common
@using TradeDash.DTO
@model List<TradeDash.FrontEnd.ViewModels.Stock.StockStrategy>

@{
    Layout = "_Layout";
}

<main role="main" class="col-md-11 ml-sm-auto col-lg-11 px-4">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <div class="row" id="stocks">
                        <div class="col-8">
                            <h4 style="text-align: center">Stock Data</h4>
                            <div class="row">
                                <div class="col-4">
                                    <div class="input-group input-group-sm mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Ticker</span>
                                        </div>
                                        <input type="text" value="@Model.First().Ticker" class="form-control ticker-input" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">History</span>
                                        </div>
                                        <input type="text" value="@Model.First().History" class="form-control history-input" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                                        <button class="btn btn-success btn-sm js-find">Find</button>
                                    </div>    
                                </div>
                                <div class="col-4">
                                    <div class="input-group input-group-sm mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Strategy</span>
                                        </div>
                                        <select class="form-control strategy-type" asp-items="@(new SelectList(ViewHelpers.EnumToSelectItem<StrategyType>(), "Value", "Text"))"></select>
                                        <button class="btn btn-success btn-sm js-calculate">Calculate</button>
                                    </div>    
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-12">
                                    <table class="table table-striped table-sm table-bordered" id="stockTable">
                                        <thead>
                                        <tr>
                                            <th>Number</th>
                                            <th>Ticker</th>
                                            <th>Date</th>
                                            <th>Volume</th>
                                            <th>Change Percent</th>
                                            <th>Close Price</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        @foreach (var stock in @Model)
                                        {
                                            <tr>
                                                <td>@stock.Number</td>
                                                <td>@stock.Ticker</td>
                                                <td>@stock.Date</td>
                                                <td>@stock.Volume</td>
                                                <td>@stock.ChangePercent</td>
                                                <td>@stock.ClosePrice</td>
                                            </tr>
                                        }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function() {
            $('#stockTable').DataTable({
                "dom": '<"top">rt<"bottom"ip><"clear">'
            });

            $("#stocks").on("click",
                ".js-find",
                function() {
                    const ticker = $(".ticker-input").val();
                    const history = $(".history-input").val();
                    if (confirm("Do you want to try find this stock?")) {
                        window.location = `/stock/find/?ticker=${ticker}&history=${history}`;
                    }
                });

            $("#stocks").on("click",
                ".js-calculate",
                function() {
                    const ticker = $(".ticker-input").val();
                    const history = $(".history-input").val();
                    const strategyType = $(".strategy-type").val();
                    if (confirm("Do you want to try find this stock?")) {
                        window.location = `/stock/calculateStrategy/?ticker=${ticker}&history=${history}&strategyType=${strategyType}`;
                    }
                });
        });
    </script>
}